  @import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@500&family=Dancing+Script:wght@500&family=Noto+Sans:wght@200&family=Poppins&family=Ysabeau&display=swap');

  * {
    font-family: 'Poppins', sans-serif;
  }

  .navbar a:hover {
    color: rgb(29, 29, 203);
  }

  .active {
    font-weight: bold;
    border-bottom: 2px solid red;
  }

  .brand-name {
    color: rgb(53, 105, 226);
  }

  .animate {
    animation: slide 2s linear infinite;
  }

  @keyframes slide {
    0% {
      transform: translateY(0px);
    }

    25% {
      transform: translateY(-10px);
    }
    50%{
      transform: translateY(-20px); 
    }
    75%{
      transform: translateY(-10px); 
    }
    100%{
      transform: translateY(0px);
    }
  }

  .height_100cls{
    height: 90vh;
  }
  .btn-custom{
    width: 150px;
    padding: 10px 0px;
    border-radius: 40px;
  }